#!/usr/bin/env bash

# The following variables should be set by editing this script before running it:
# The base url of the svn repo
base_dir="{{ svn_curr }}"
# A list of all repos to create and then sync
# Expecting format of a repeating list of :
#name
#url
#line (could be empty or sep vals etc to separate items e.g.
#dwfa
#https://csfe.aceworkspace.net/svn/repos/dwfa
#--

repo_list="{{ curr_svn_list }}"

svn_user="{{ svn_user }}"
svn_pw="{{ svn_pw }}"

count=0
name=""
url=""

svnowner="www-data"

svnadmin=/usr/bin/svnadmin
svnsync=/usr/bin/svnsync
svn=/usr/bin/svn

# Prints a message to stdout with the current date and time.
echo_date() {
	echo -e "[`date +\"%Y-%m-%d %H:%M:%S\"`] $@"
}

# Prints an error message to stderr and exits the script with a non-zero status.
error_exit() {
	echo -e "[`date +\"%Y-%m-%d %H:%M:%S\"`] $@" >&2
	exit 1
}

# Main script starts here.
main() {
	echo_date "----------------------------"
	check_arguments
        checkbasedir
	iteratelist
	exit 0
}

check_arguments() {

	if [ "x$base_dir" = "x" ]; then
		error_exit "Please set the variable base_dir before running this script. Exiting with error."
	fi

	if [ "x$repo_list" = "x" ]; then
		error_exit "Please set the variable repo_list before running this script. Exiting with error."
	fi

}

checkbasedir() {
echo "Checking/Creating base_dir val = "$base_dir
mkdir -p $base_dir
}

iteratelist() {
cat $repo_list|while read line; do
f_name=$line
echo "syncing Repo name =  "$f_name
syncrepo;
done
}

syncrepo() {
svnsync_data;
}

svnsync_data() {
echo "svnsync_data $base_dir/$f_name";
$svnsync --non-interactive sync file://$base_dir/$f_name --username $svn_user --password $svn_pw
}


# Ensures that only a single instance is running at any time
LOCKFILE="./instance.lock"

(
        flock -n 200 || error_exit "Another backup script is already running. Exiting with error."
        trap "rm $LOCKFILE" EXIT
        main
) 200> $LOCKFILE

