#This is IHTSDO identity management service url
ihtsdo.im.service.base.url={{crs_ims_base_url}}

#Database connection
datasource.url=jdbc:mysql://{{crs_mysql_host}}:{{crs_mysql_port}}/{{crs_dbname}}
datasource.username={{crs_user}}
datasource.password={{crs_pw}}
datasource.driver-class-name=com.mysql.jdbc.Driver

#Authentication
crs.basicAuth.username={{ crs_username }}
crs.basicAuth.password={{ crs_password }}
sso.cookie.name={{ crs_sso_cookie }}

#CRS Urls
ihtsdo.crs.host={{crs_url}}
ihtsdo.crs.batchRequest.url=/#/batches/{id}/view
ihtsdo.crs.request.url=/#/requests/view/{id}

#JMS Details
jms.url={{ crs_jms_url }}
jms.username={{ crs_jms_user }}
jms.password={{ crs_jms_password }}
task.state.change.queue={{ crs_jms_queue }}

#JIRA Configurations
jira.url={{crs_jira_url}}
jira.ticket.batch=SCT Content Request Batch
jira.ticket.single=SCT Content Request Ticket
jira.ticket.scaAuthoringTask=SCA Authoring Task
jira.ticket.batch.linkType=Relates
jira.crs.issueKey=CRT
jira.ticket.requestAttachment.name=request.json
jira.comment.internalGroup={{crs_jira_comment_internalGroup}}

#Custom fields on JIRA. To get the custom fields IDs, use JIRA REST API to retrieve custom field ID: {jira.url}/rest/api/2/field
jira.ticket.customField.externalId.id={{crs_jira_customField_extId}}
jira.ticket.customField.reasonForChange.id={{crs_jira_customField_reasonForChange}}
jira.ticket.customField.semanticTag.id={{crs_jira_ticket_customField_semanticTag}}
jira.ticket.customField.crs_id.id={{crs_jira_ticket_customField_crs_id_id}}
jira.ticket.customField.topic.id={{crs_jira_ticket_customField_topic_id}}

#New properties:
jira.ticket.customField.contentTrackerId.id={{ crs_jira_ticket_customField_contentTrackerId_id }}
jira.ticket.customField.contentTrackerUrl.id={{ crs_jira_ticket_customField_contentTrackerUrl_id }}
jira.ticket.customField.impactedNewConcept.id={{ crs_jira_ticket_customField_impactedNewConcept_id }}
jira.ticket.customField.newFsn.id={{ crs_jira_ticket_customField_newFsn_id }}

#Status mapping between CRS and JIRA
jira.ticket.statusMapping.new=New
jira.ticket.statusMapping.accepted=Accepted
jira.ticket.statusMapping.underAuthoring=In Progress
jira.ticket.statusMapping.pendingClarification=Clarification Needed
jira.ticket.onHold=
jira.ticket.statusMapping.approved=
jira.ticket.statusMapping.rejected=Rejected
jira.ticket.statusMapping.withdrawn=Withdrawn
jira.ticket.statusMapping.appeal=In Appeal
jira.ticket.statusMapping.appealRejected=Appeal Rejected
jira.ticket.statusMapping.released=Completed
jira.ticket.statusMapping.forwarded=Forwarded
jira.ticket.statusMapping.deleted=Deleted
jira.ticket.statusMapping.inInceptionElaboration=In Inception/Elaboration
jira.ticket.statusMapping.readyforRelease=Ready For Release
jira.ticket.statusMapping.inAppealClarification=In Appeal Clarification
jira.ticket.statusMapping.onHold=On Hold
jira.ticket.statusMapping.internalInputNeeded=Internal Input Needed


#Keys for JIRA SSO
jira.credential.consumerKey={{crs_jira_consumerKey}}
jira.credential.privateKey={{crs_jira_privKey}}
jira.credential.systemUsername={{crs_jira_systemUsername}}

#Label to be added to authoring tasks
jira.authoringTask.label.crs=CRS

#SNOMEDCT Configurations
snomect.host={{crs_snomect_host}}
snomect.url={{crs_snomect_url}}
snomect.authorization={{crs_snomect_authorization}}
snomect.branch={{crs_snomect_branch}}
snomect.method.browser={{crs_snomect_method_browser}}
snomect.method.mrcm={{crs_snomect_method_mrcm}}

#Email configuration
crs.root.url={{crs_mail_root_url}}
crs.notification.email.enable={{crs_mail_enable}}
crs.email.test.receive={{crs_mail_test_receive}}
mail.smtp.host={{crs_mail_smtp_host}}
mail.smtp.user={{crs_mail_smtp_user}}
mail.smtp.password={{crs_mail_smtp_password}}
mail.smtp.port={{crs_mail_smtp_port}}
mail.smtp.auth={{crs_mail_smtp_auth}}
mail.smtp.starttls.enable={{crs_mail_smtp_starttls_enable}}
mail.transport.protocol={{crs_mail_transport_protocol}}
mail.smtp.userName={{crs_mail_smtp_userName}}

crs.bulk.maxSize=50
crs.fsnDuplicationCheck.enable=true

#CIS Configuration
cis.url={{ crs_cis_url }}
cis.sctidValidation.enable=true

crs.forward.allowed={{crs_forward_allowed}}
crs.forward.destination.server.url={{crs_forward_destination_server_url}}
crs.forward.destination.browser.url={{crs_forward_destination_browser_url}}
crs.forward.source.server.url={{crs_forward_source_server_url}}
crs.forward.source.browser.url={{crs_forward_source_browser_url}}
crs.id={{crs_id}}



