#This is IHTSDO identity management service url
ihtsdo.im.service.base.url={{ims_base_url}}

datasource.url=jdbc:mysql://localhost/{{crs_dbname}}
datasource.username={{crs_user}}
datasource.password={{crs_pw}}
datasource.driver-class-name=com.mysql.jdbc.Driver

jira.url={{crs_jira_url}}
snomect.host={{snomect_host}}
snomect.url={{snomect_url}}
snomect.authorization={{snomect_authorization}}
snomect.method.browser={{snomect_method_browser}}
snomect.method.mrcm={{snomect_method_mrcm}}
snomect.branch={{snomect_branch}}
log.dir={{log_dir}}