<?xml version="1.0" encoding="UTF-8"?>
<config>
    <inputSnapshotDirectory>{{ snapshotFolder }}</inputSnapshotDirectory>
    <diffReportOutputDirectory>{{ rf2_diff_json_report_folder }}</diffReportOutputDirectory>
    <startDate>{{ rf2_diff_start_date }}</startDate>
    <currentReleaseDate>{{ effectiveTime }}</currentReleaseDate>
</config>
