<?xml version="1.0" encoding="UTF-8"?>
<config> 
    <processInMemory>true</processInMemory>
    <defaultTermLangCode>sv</defaultTermLangCode>
    <defaultTermDescriptionType>900000000000013009</defaultTermDescriptionType>
    <defaultTermLanguageRefset>46011000052107</defaultTermLanguageRefset>
    <normalizeTextIndex>false</normalizeTextIndex>
    <createCompleteConceptsFile>false</createCompleteConceptsFile>
    <editionName>Swedish Edition</editionName>
    <databaseName>se-edition</databaseName>
    <effectiveTime>{{ effectiveTime }}</effectiveTime>
    <expirationTime>{{ expirationTime }}</expirationTime>
    <outputFolder>{{ jsonOutputFolder }}</outputFolder>
    <foldersBaselineLoad>
	<folder>{{ snapshotFolder_INT }}</folder>
    <folder>{{ snapshotFolder }}</folder>
    </foldersBaselineLoad>
    <modulesToIgnoreBaselineLoad>
    </modulesToIgnoreBaselineLoad>
    <foldersExtensionLoad>
    </foldersExtensionLoad>
    <modulesToIgnoreExtensionLoad>
    </modulesToIgnoreExtensionLoad>
</config>