#!/bin/bash
s3_bukcet_name="{{ rf2json_s3_bucket_name }}"
filename="{{ rf2_diff_json_file_name }}"
report_dir="{{ rf2_diff_json_report_folder }}"

echo "Uploading rf2 diff json to AWS S3";
echo $report_dir
cd $report_dir
echo "start tar diff report json file"
tar -czf $filename *.json
echo "end of tar diff report json file"

echo "start s3 uploading for diff report json..."
aws s3 cp $filename $s3_bukcet_name/ 
echo "s3 uploading process is completed for diff report json"
