<?xml version="1.0" encoding="UTF-8"?>

<application-configuration>
  <setupStep>complete</setupStep>
  <setupType>install.new</setupType>
  <buildNumber>647</buildNumber>
  <properties>
    <!-- <property name="crowd.server.id">BV7J-OX1I-Y6J2-7QA5</property> -->
    <property name="crowd.server.id">BL3N-Z1O6-KKCA-N3EG</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <property name="hibernate.c3p0.max_size">30</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <property name="hibernate.c3p0.min_size">0</property>
    <property name="hibernate.c3p0.timeout">30</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.password">{{ db_password }}</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/{{ db_name }}</property>
    <property name="hibernate.connection.username">{{ db_user }}</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.setup">true</property>
    <property name="license">AAABIg0ODAoPeNpVkNFrgzAQxt/zVwT2nGKkVigEtqkDS9VtbbcV9pLqtQ1oUi7Rzf9+trPQwt3L5 fu+++UePqGiL7CjnFNvOveH4jRaranv8YDEYEtUJ6eMFhGan+p7TiPTNK1WrifleTKRpVMdCIctk AhBnsWxdCDOCczzGeckMtoNulw2IN4N9jSWnaqs0WPGUpWgLaz7E1w0UZFlmzxdb6/OJJOqFljJR 3V0tjITgweSdLJuL/vEXtYWyCDSDrTUJSS/J4X9lWN24fBIgQeplf333IOsklwMzaaB74XBlKwAO 8A0Fs8f4YIVXzxl29nCZ+HbUzBS522zAyz2GwtoBeNk/MZgWqbxbdj4cAPV6lo1ykFFXlssj9LC/ c088gey8IaKMCwCFHkHUkhDBEjmyhYbO/9JC4hH31nMAhQfgQitsmMzijtIauOy0dUmGYfWhA==X 02em</property>
  </properties>
</application-configuration>

<!--<application-configuration>
  <setupStep>setuplicense</setupStep>
  <setupType>initial</setupType>
  <buildNumber>0</buildNumber>
  <properties/>
</application-configuration> -->
