[defaults]
ansible_managed = Ansible managed: modified on %Y-%m-%d %H:%M:%S
hostfile = inventory/live.ini
hash_behaviour = merge
timeout = 30

[ssh_connection]
#ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

