LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_amp_AmpType.csv" INTO TABLE f_amp_AmpType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_amp_ApiType.csv" INTO TABLE f_amp_ApiType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_amp_AppProdInfoType.csv" INTO TABLE f_amp_AppProdInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_amp_LicRouteType.csv" INTO TABLE f_amp_LicRouteType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_ampp_AmppType.csv" INTO TABLE f_ampp_AmppType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_ampp_ContentType.csv" INTO TABLE f_ampp_ContentType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_ampp_PackInfoType.csv" INTO TABLE f_ampp_PackInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_ampp_PrescInfoType.csv" INTO TABLE f_ampp_PrescInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_ampp_PriceInfoType.csv" INTO TABLE f_ampp_PriceInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_ampp_ReimbInfoType.csv" INTO TABLE f_ampp_ReimbInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_ingredient.csv" INTO TABLE f_ingredient FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_AvailRestrictInfoType.csv" INTO TABLE f_lookup_AvailRestrictInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_BasisOfNameInfoType.csv" INTO TABLE f_lookup_BasisOfNameInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_BasisOfStrengthInfoType.csv" INTO TABLE f_lookup_BasisOfStrengthInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_ColourInfoType.csv" INTO TABLE f_lookup_ColourInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_CombPackIndInfoType.csv" INTO TABLE f_lookup_CombPackIndInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_CombProdIndInfoType.csv" INTO TABLE f_lookup_CombProdIndInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_ControlDrugCatInfoType.csv" INTO TABLE f_lookup_ControlDrugCatInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_DfIndInfoType.csv" INTO TABLE f_lookup_DfIndInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_DiscIndInfoType.csv" INTO TABLE f_lookup_DiscIndInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_DNDInfoType.csv" INTO TABLE f_lookup_DNDInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_DtPayCatInfoType.csv" INTO TABLE f_lookup_DtPayCatInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_FlavourInfoType.csv" INTO TABLE f_lookup_FlavourInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_FormHistoryInfoType.csv" INTO TABLE f_lookup_FormHistoryInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_LegalCatInfoType.csv" INTO TABLE f_lookup_LegalCatInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_LicAuthChgRsnInfoType.csv" INTO TABLE f_lookup_LicAuthChgRsnInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_LicAuthInfoType.csv" INTO TABLE f_lookup_LicAuthInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_NamechangeReasonInfoType.csv" INTO TABLE f_lookup_NamechangeReasonInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_OntFormRouteInfoType.csv" INTO TABLE f_lookup_OntFormRouteInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_PriceBasisInfoType.csv" INTO TABLE f_lookup_PriceBasisInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_ReimbStatInfoType.csv" INTO TABLE f_lookup_ReimbStatInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_RouteHistoryInfoType.csv" INTO TABLE f_lookup_RouteHistoryInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_SpecContInfoType.csv" INTO TABLE f_lookup_SpecContInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_SupplierSupplierInfoType.csv" INTO TABLE f_lookup_SupplierSupplierInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_UoMHistoryInfoType.csv" INTO TABLE f_lookup_UoMHistoryInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_VirProdNoAvailInfoType.csv" INTO TABLE f_lookup_VirProdNoAvailInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_lookup_VirProdPresStatInfoType.csv" INTO TABLE f_lookup_VirProdPresStatInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmp_ControlInfoType.csv" INTO TABLE f_vmp_ControlInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmp_DrugFormType.csv" INTO TABLE f_vmp_DrugFormType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmp_DrugRouteType.csv" INTO TABLE f_vmp_DrugRouteType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmp_OntDrugFormType.csv" INTO TABLE f_vmp_OntDrugFormType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmp_VmpType.csv" INTO TABLE f_vmp_VmpType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmp_VpiType.csv" INTO TABLE f_vmp_VpiType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmpp_ContentType.csv" INTO TABLE f_vmpp_ContentType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmpp_DtInfoType.csv" INTO TABLE f_vmpp_DtInfoType FIELDS TERMINATED BY '|';
LOAD DATA LOCAL INFILE "{{dmd_csv_dir}}/f_vmpp_VmppType.csv" INTO TABLE f_vmpp_VmppType FIELDS TERMINATED BY '|';
