# {{ ansible_managed }}
{% if otf_user_module_security_web_stormpath_keypath is defined %}
UserSecurityHandler=StormPathUserSecurity
StormPathUserSecurity.keyPath={{ otf_user_module_security_web_sp_props }}
{% else %}
UserSecurityHandler=XmlUserSecurity
XmlUserSecurity.configFile=/etc/opt/otf-user-module-security-web/usersecurity.xml
{% endif %}

