# {{ ansible_managed }}
{% if otf_user_module_security_web_stormpath_id is defined %}
UserSecurityHandler=StormPathUserSecurity
StormPathUserSecurity.apiKey.id={{ otf_user_module_security_web_stormpath_id }}
StormPathUserSecurity.apiKey.secret={{ otf_user_module_security_web_stormpath_secret }}
{% else %}
UserSecurityHandler=XmlUserSecurity
XmlUserSecurity.configFile=/etc/opt/otf-user-module-security-web/usersecurity.xml
{% endif %}

