spring.profiles.active={{relman_profile}}
security.basic.enabled=false
spring.profiles={{relman_profile}}

#SSL
server.port={{relman_app_port}}
#server.ssl.key-store=classpath:keystore.jks
#server.ssl.key-store-password=1234567890
#server.ssl.key-password=1234567890
application.name=Snomed Automate


default.root.concept=138875005
default.root.branch=MAIN
default.value.historicalAssociations=900000000000522004,900000000000523009,900000000000524003,900000000000525002,900000000000526001,900000000000527005,900000000000528000,900000000000529008,900000000000530003,900000000000531004,
default.auto-extension.hasMidSuffix=true
default.auto-extension.branchNameSuffix=-DK
default.auto-extension.mergeCommitComment='%s Extension Upgrade to %s'
gateways.endpoints.codesystems.root={{relman_auth_codesystems_url}}
gateways.endpoints.codesystems.addVersion=/{shortName}/versions
gateways.endpoints.codesystems.updateCodeSystem=/{shortNameOrOid}
gateways.endpoints.codesystems.getCodeSystem=/{shortNameOrOid}

gateways.endpoints.snomed-ct.root={{relman_auth_snomed_url}}
gateways.endpoints.snomed-ct.addBranch=/branches
gateways.endpoints.snomed-ct.exportBranch=/exports
gateways.endpoints.snomed-ct.importBranch=/imports
gateways.endpoints.snomed-ct.mergeBranch=/merges
gateways.endpoints.snomed-ct.getBranch=/branches/{path}
gateways.endpoints.snomed-ct.getRelationship=/{path}/concepts/{conceptId}/inbound-relationships
gateways.endpoints.snomed-ct.updateRelationship=/{path}/relationships/{relationshipId}/updates
gateways.endpoints.snomed-ct.createRelationship=/{path}/relationships
gateways.endpoints.snomed-ct.deleteRelationship=/{path}/relationships/{relationshipId}
gateways.endpoints.snomed-ct.getChildrenConcept=/browser/{path}/concepts/{conceptId}/children
gateways.endpoints.snomed-ct.getReferenceMember=/{path}/members

gateways.endpoints.jira.root={{relman_jira_api_url}}
gateways.endpoints.jira.createTicket=

s3.offline.directory=/tmp/rvf_offline_s3_storage
s3.executionBucketName={{relman_s3_executionBucketName}}
s3.publishBucketName={{relman_s3_publishBucketName}}
s3.report.path=report
