#!/usr/bin/env bash

export crowd_url={{cis_crowd_url}} 
export crowd_app_name={{cis_crowd_app_name}}
export crowd_app_password={{cis_crowd_pw}} 

{{ cis_node_dir }} {{ cis_rest_app }} dbuser={{ cis_db_user }} dbpass={{ cis_db_pw }}
