[app]
port = {{ rocketchat_jira_trigger_instances[item].port }}
[jira]
uri = "{{ rocketchat_jira_trigger_instances[item].uri }}"
username = "{{ rocketchat_jira_trigger_instances[item].username }}"
password = "{{ rocketchat_jira_trigger_instances[item].password }}"
