#!/bin/sh

printf "Bringing up tunnel to {{tunnel_host}}"

sudo autossh  -Nfq -M 0 -o "ServerAliveInterval 45" -o "ServerAliveCountMax 2" -L{{ snomed_release_service_id_gen_tunnel_local_port }}:{{ snomed_release_service_id_gen_tunnel_target_hostname }}:{{ snomed_release_service_id_gen_tunnel_target_port }} {{ snomed_release_service_id_gen_tunnel_proxy }} -l {{ snomed_release_service_id_gen_tunnel_username }}

#ssh -L{{ snomed_release_service_id_gen_tunnel_local_port }}:{{ snomed_release_service_id_gen_tunnel_target_hostname }}:{{ snomed_release_service_id_gen_tunnel_target_port }} {{ snomed_release_service_id_gen_tunnel_proxy }} -l {{ snomed_release_service_id_gen_tunnel_username }}

exit 0