# {{ ansible_managed }}
# When true, write objects to the s3Offline.bucketsPath, defined below
# When false, write objects to an S3 bucket using the AWS key pair defined below
offlineMode = {{ snomed_release_service_api_offlineMode }}

# When offlineMode is false, store objects in the given path
s3Offline.bucketsPath = {{ snomed_release_service_api_s3Offline_bucketsPath }}

# The AWS key pair for use with S3 when offlineMode is true
aws.key = {{ snomed_release_service_api_aws_key }}
aws.privateKey = {{ snomed_release_service_api_aws_privateKey }}

# Salt to use for password hashs
encryption.salt = {{ snomed_release_service_api_encryption_salt }}

releaseValidationFramework.url = {{ snomed_release_service_api_releaseValidationFramework_url }}
idGenerator.url = {{ snomed_release_service_api_idGenerator_url }}
idGenerator.userName = {{ snomed_release_service_api_idGenerator_user_name }}
idGenerator.password = {{ snomed_release_service_api_idGenerator_password }}

fileProcessing.failureMaxRetry = {{ snomed_release_service_api_file_processing_failure_max_retries }}

#Remove execution Bucket name once buildBucketName has deployed to Prod PGW 25/11/14
executionBucketName = {{ snomed_release_service_api_aws_executionBucketName }}
buildBucketName = {{ snomed_release_service_api_aws_buildBucketName }}
publishedBucketName = {{ snomed_release_service_api_aws_publishedBucketName }}

#Default email address for Telemetry Server to contact when a service reports an exception 
#TODO Allow for contacts to be specified on a per service basis
telemetry.email.address.to = {{ telemetry_email_address_to }}
telemetry.email.address.from = {{ telemetry_email_address_from }}
telemetry.smtp.username = {{ telemetry_smtp_username }}
telemetry.smtp.password = {{ telemetry_smtp_password }}
telemetry.smtp.host = {{ telemetry_smtp_host }}
telemetry.smtp.port = {{ telemetry_smtp_port }}
telemetry.smtp.ssl = {{ telemetry_smtp_ssl }}

srs.jdbc.driverClassName = {{ srs_jdbc_driverClassName }}
srs.jdbc.url = {{ srs_jdbc_url }}
srs.jdbc.username = {{ srs_jdbc_username }}
srs.jdbc.password = {{ srs_jdbc_password }}
srs.hibernate.dialect = {{ srs_hibernate_dialect }}
srs.environment.shortname = {{ environment_shortname }}

orchestration.jms.url = {{ orchestration_jms_url }}
orchestration.jms.username = {{ orchestration_jms_username }}
orchestration.jms.password = {{ orchestration_jms_password }}
