{
"app": {
        "title": "{{crs_web_app_title}}",
        "header": "{{crs_web_app_header}}"
    },
  
    "endpoint": {
        "crs": "{{ crs_web_conf_crs_url }}",
        "snowowl": "{{ crs_web_conf_snowowl_url }}",
        "ims": "{{ crs_web_conf_ims_url }}",
        "jira": "{{ crs_web_conf_jira_url }}",
        "authoring":"{{crs_web_conf_authoring_api_url}}",           
        "ims-api": "{{ crs_web_conf_ims_api_url }}"
    },

    "xhrTimeout": 50000,
    "fileStatusPollingInterval": 5000,
    "messagePollingInterval": 10000,

    "snomed-ct": {
        "path": "snomed-ct/v2/",
        "edition": "{{crs_snomect_branch}}",
        "release": ""
    },

    "sca": {
        "path": "ihtsdo-sca/"
    },

    "jira": {
        "rest-api": {
            "path": "rest/api/",
            "version": "2"
        },
        "author-group": "{{crs_web_author_group}}",
        "staff-group": "{{crs_web_staff_group}}",
        "requestor-group":"{{crs_web_requestor_group}}"
    },
    "link": {
        "userGuide": "{{crs_web_link_userGuide}}",
        "batchTemplate": "{{crs_web_link_batchTemplate}}",
        "termOfService": "{{crs_web_link_termOfService}}",
        "privacyPolicy": "{{crs_web_link_privacyPolicy}}",
        "contactUs": "{{crs_web_link_contactUs}}"
    }
    
}
