{
    "endpoint": {
        "crs": "{{ crs_web_conf_crs_url }}",
        "snowowl": "{{ crs_web_conf_snowowl_url }}",
        "ims": "{{ crs_web_conf_ims_url }}",
        "jira": "{{ crs_web_conf_jira_url }}",
        "ims-api": "{{ crs_web_conf_ims_api_url }}"
    },

    "xhrTimeout": 50000,
    "fileStatusPollingInterval": 5000,
    "messagePollingInterval": 10000,

    "snomed-ct": {
        "path": "snomed-ct/v2/",
        "edition": "MAIN",
        "release": ""
    },

    "sca": {
        "path": "ihtsdo-sca/"
    },

    "jira": {
        "rest-api": {
            "path": "rest/api/",
            "version": "2"
        },
        "author-group": "ihtsdo-sca-author",
        "staff-group": "crs-staff"
    },
    "userRole": {
        "ADMINISTRATOR": "ROLE_crs-administrator",
        "MANAGER": "ROLE_crs-manager",
        "STAFF": "ROLE_crs-staff",
        "MEMBER": "ROLE_crs-member",
        "PARTNER": "ROLE_crs-partner",
        "REQUESTOR": "ROLE_crs-requestor",
        "VIEWER": "ROLE_crs-viewer"
    },
    "link": {
        "userGuide": "https://confluence.ihtsdotools.org/display/SCTCR/CRS+User+Guide",
        "batchTemplate": "https://confluence.ihtsdotools.org/download/attachments/27594472/SIRS_Batch_Template-2016.xls",
        "termOfService": "https://confluence.ihtsdotools.org/display/SCTCR/Content+Request+Service+Terms+of+Service",
        "privacyPolicy": "https://confluence.ihtsdotools.org/display/TOOLS/IHTSDO+Tools+Privacy+Policy",
        "contactUs": "http://www.ihtsdo.org/contact-us/"
    }
    
}