#{{ ansible_managed }}
user  nginx;

worker_processes  {{ ansible_processor_count }};
pid        /var/run/nginx.pid;

events {
    worker_connections  {{ nginx_max_clients }};
}

http {
{% for k,v in nginx_http_params.iteritems() %}
        {{ k }}  {{ v }};
{% endfor %}

        include "/etc/nginx/mime.types";
        include "/etc/nginx/conf.d/*.conf";
}
