#spring.profiles.active=dev,ssl
#keystore.file=file://var/opt/mlds/star.intware.com.jks
#keystore.pass=importkey

spring.profiles.active=dev

webauth.url={{ mlds_webauth_url }}
webauth.applicationName=mlds

server.port=8080

spring.datasource.dataSourceClassName: org.postgresql.ds.PGSimpleDataSource
spring.datasource.url: jdbc:postgresql:mlds
spring.datasource.databaseName: mlds
spring.datasource.serverName: localhost
spring.datasource.username: mlds
spring.datasource.password: password

#These values common to all environments so see groupvars/mlds
spring.mail.from: {{ mlds_mail_from }}
spring.mail.host: {{ mlds_mail_host }}
spring.mail.port: {{ mlds_mail_port }}
spring.mail.tls: {{ mlds_mail_tls }}
spring.mail.protocol: {{ mlds_mail_protocol }}
spring.mail.auth: {{ mlds_mail_auth }}
spring.mail.user: {{ mlds_mail_user }}
spring.mail.password: {{ mlds_mail_password }}

s3.api.offlineMode: {{ s3_api_offlineMode }}
s3.api.default.aws.key: {{ s3_api_default_aws_key }}
s3.api.default.aws.privateKey: {{ s3_api_default_aws_privateKey }}
