spring.profiles.active=dev

webauth.url={{ mlds_webauth_url }}
webauth.applicationName={{mlds_appname}}
ims.cookie={{ mlds_ims_cookie }}
server.port=8080
server.context-path=/

spring.datasource.dataSourceClassName: {{mlds_dataSource_ClassName}}
spring.datasource.url: {{mlds_datasource_url}}
spring.datasource.databaseName: {{mlds_dbname}}
spring.datasource.serverName: {{mlds_datasource_serverName}}
spring.datasource.username: {{mlds_user}}
spring.datasource.password: {{mlds_password}}
#Hibernate
hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql: false
hibernate.hbm2ddl.auto: validate
hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory

#Hibernate
hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql: false
hibernate.hbm2ddl.auto: validate
hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory

#Hibernate
hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql: false
hibernate.hbm2ddl.auto: validate
hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory

#These values common to all environments so see groupvars/mlds
spring.mail.from: {{ mlds_mail_from }}
spring.mail.host: {{ mlds_mail_host }}
spring.mail.port: {{ mlds_mail_port }}
spring.mail.tls: {{ mlds_mail_tls }}
spring.mail.protocol: {{ mlds_mail_protocol }}
spring.mail.auth: {{ mlds_mail_auth }}
spring.mail.user: {{ mlds_mail_user }}
spring.mail.password: {{ mlds_mail_password }}

s3.api.offlineMode: {{ s3_api_offlineMode }}
s3.api.default.aws.key: {{ s3_api_default_aws_key }}
s3.api.default.aws.privateKey: {{ s3_api_default_aws_privateKey }}
