
application.password={{ application_password }}
application.name={{ application_name }}

crowd.base.url={{ crowd_base_url }}
crowd.server.url={{ crowd_server_url }}

#This is IHTSDO identity management service url
ihtsdo.im.service.base.url={{ ihtsdo_im_service_base_url }}
application.login.url={{ application_login_url }}

session.tokenkey={{ session_tokenkey }}
session.lastvalidation=session.lastvalidation
session.isauthenticated=session.isauthenticated







