application.password={{ application_password }}
application.name={{ application_name }}
crowd.server.url={{ crowd_server_url }}
crowd.base.url={{ crowd_base_url }}
application.login.url={{ application_login_url }}
#This is IHTSDO identity management service url
ihtsdo.im.service.base.url={{ ihtsdo_im_service_base_url }}

session.tokenkey=session.tokenkey
session.lastvalidation=session.lastvalidation
session.isauthenticated=session.isauthenticated


application.password=ihtsdo-tools
application.name=ihtsdo-tools
crowd.server.url=https\://dev-crowd.ihtsdotools.org/crowd/services/
crowd.base.url=https\://dev-crowd.ihtsdotools.org/crowd/
application.login.url=https\://dev-ims.ihtsdotools.org/#/login
#This is IHTSDO identity management service url
ihtsdo.im.service.base.url=https\://dev-ims.ihtsdotools.org




session.tokenkey=session.tokenkey
session.isauthenticated=session.isauthenticated
session.lastvalidation=session.lastvalidation






