jira.url={{ jira_url }}
jira.username={{ jira_username }}
jira.password={{ jira_password }}

securityServiceStubMode={{ securityServiceStubMode }}

snowowl.url={{ snowowl_url }}
snowowl.username={{ snowowl_db_user }}
snowowl.password={{ snowowl_db_user }}
snowowl.reasonerId=au.csiro.snorocket.owlapi3.snorocket.factory
snowowl.classification.timeout=0
snowowl.log.path=/dev/null
snowowl.rolloverLog.path=/dev/null
snowowl.import.timeout=0

orchestration.url={{ orchestration.url }}
orchestration.username={{ orchestration.username }}
orchestration.password={{ orchestration.password }}

