jira.url={{ ts_jira_url }}
jira.username={{ ts_jira_username }}
jira.password={{ ts_jira_password }}
jira.reviewer.field={{ ts_jira_reviewer_field }}
jira.consumerKey={{ ts_jira_consumerKey }}
jira.privateKeyName={{ ts_jira_privateKeyName }}
jiraProjectFilterProductCodes={{ ts_jira_proj_filter_pc }}

securityServiceStubMode={{ ts_securityServiceStubMode }}

snowowl.url={{ ts_snowowl_url }}
snowowl.username={{ ts_snowowl_db_user }}
snowowl.password={{ ts_snowowl_db_password }}
snowowl.reasonerId={{ ts_snowowl_reasoner_id }}
snowowl.classification.timeout=0
snowowl.log.path=/dev/null
snowowl.rolloverLog.path=/dev/null
snowowl.import.timeout=0

orchestration.url={{ ts_orchestration_url }}
orchestration.username={{ ts_orchestration_username }}
orchestration.password={{ ts_orchestration_password }}
orchestration.name={{ ts_orchestration_name }}

orchestration.jms.url = {{ ts_orchestration_jms_url }}
orchestration.jms.username = {{ ts_orchestration_jms_username }}
orchestration.jms.password = {{ ts_orchestration_jms_password }}

batch.import.snowowl.url={{ batch_import_snowowl_url }}

batch.import.authoring-services.url={{ batch_import_authoring_services_url }}
batch.import.sso.cookie={{ crowd.cookie }}

