jira.url={{ jira_url }}
jira.username={{ jira_username }}
jira.password={{ jira_password }}
jira.reviewer.field={{ jira_reviewer_field }}
jira.consumerKey={{ jira_consumerKey }}
jira.privateKeyName={{ jira_privateKeyName }}
jiraProjectFilterProductCodes={{ jira_proj_filter_pc }}

securityServiceStubMode={{ securityServiceStubMode }}

snowowl.url={{ snowowl_url }}
snowowl.username={{ snowowl_db_user }}
snowowl.password={{ snowowl_db_user }}
snowowl.reasonerId={{ snowowl_reasoner_id }}
snowowl.classification.timeout=0
snowowl.log.path=/dev/null
snowowl.rolloverLog.path=/dev/null
snowowl.import.timeout=0

orchestration.url={{ orchestration_url }}
orchestration.username={{ orchestration_username }}
orchestration.password={{ orchestration_password }}
orchestration.name={{ orchestration_name }}

orchestration.jms.url = {{ orchestration_jms_url }}
orchestration.jms.username = {{ orchestration_jms_username }}
orchestration.jms.password = {{ orchestration_jms_password }}
