#!/bin/bash

set -x
set -e

if [[ $( whoami ) != '{{mapping_user}}' ]]; then
    exec sudo -u {{mapping_user}} -H $0
fi

ADMIN_DIR={{mapping_admin_app_admin_dir}}/updatedb
CONF_FILE={{mapping_admin_app_conf}}

export MAVEN_OPTS='{{mapping_admin_app_maven_opts}}'

cd $ADMIN_DIR

mvn install -PUpdatedb -Drun.config=$CONF_FILE -Dhibernate.hbm2ddl.auto=create