#!/bin/bash

set -x
set -e

if [[ $( whoami ) != '{{mapping_user}}' ]]; then
    exec sudo -u {{mapping_user}} -H $0
fi

export OTF_MAPPING_HOME={{mapping_admin_app_dir}}
export OTF_MAPPING_CONFIG={{mapping_admin_app_conf}}

export MAVEN_OPTS='{{mapping_admin_app_maven_opts}}'

csh /opt/otf-mapping-service-admin/admin/loader/src/main/scripts/load.csh


