#!/usr/bin/env bash

# depends jq
bucketlist=$( /usr/bin/aws s3 ls  | awk '{ print $3 }')
for bucket in $bucketlist
 do
bucketloc="$(aws s3api get-bucket-location --bucket "$bucket" | jq '.LocationConstraint')"
temp="${bucketloc%\"}"
temp="${temp#\"}"
bucketloc=$temp
if [ "$bucketloc" = "EU"  ]
then
bucketloc="eu-west-1"
fi
if [ "$bucketloc" = "null"  ]
then
bucketloc="us-east-1"
fi

temp="${bucketloc%\"}"
temp="${temp#\"}"
bucketloc=$temp

echo " "
echo "-----START---- BucketName= $bucket ***** BucketRegion= $bucketloc"

filelist="$(aws s3 ls --region $bucketloc s3://$bucket --recursive  | awk '{ print $4 }')"
for file in $filelist
do
echo "file = $file"
acl="$(aws s3api get-object-acl --region "$bucketloc" --bucket "$bucket" --key "$file")"
if [[ $acl == *"http://acs.amazonaws.com/groups/global/AllUsers"* ]]
 then
  echo "public share found!!!"
  echo "acl = $acl"
 fi
done

echo "----END---- BucketName= $bucket ***** BucketRegion= $bucketloc "
echo " "
done