# {{ ansible_managed }}
# See http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
spring.thymeleaf.cache=false
spring.main.banner-mode=off

server.contextPath=/ads-api

# Max file size.
spring.http.multipart.max-file-size=1024Mb
# Max request size.
spring.http.multipart.max-request-size=1024Mb

spring.jms.pub-sub-domain=true

#spring.data.jest.uri=http://search.snomedtools.org
spring.data.jest.uri=http://search.snomed.local

cloud.aws.region.auto = false
cloud.aws.region.static = {{ aws_es_region }}

cloud.aws.credentials.accessKey = {{ aws_es_accesskey }}
cloud.aws.credentials.secretKey = {{ aws_es_secret }}
cloud.aws.credentials.instanceProfile = true

rest.action.multi.allow_explicit_index = true

ads.currentRelease = {{ ads_currentRelease }}
ads.maxCachedProjects = {{ ads_maxCachedProjects }}
ads.thread.pool = {{ ads_thread_pool }}
ads.es.chunkSize = {{ ads_es_chunkSize }}

spring.activemq.broker-url= {{ ads_activemq_broker_url }}
spring.activemq.user= {{ ads_activemq_user }}
spring.activemq.password= {{ ads_activemq_password }}

orchestration.platform = {{ orchestration_platform }}
