# {{ ansible_managed }}
# See http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
spring.thymeleaf.cache=false
spring.main.banner-mode=off

server.contextPath=/ads-api

# Max file size.
spring.http.multipart.max-file-size=1024Mb
# Max request size.
spring.http.multipart.max-request-size=1024Mb

spring.jms.pub-sub-domain=true
spring.data.mongodb.uri=mongodb://localhost/ads

ads.currentRelease = {{ ads_currentRelease }}
ads.maxCachedProjects = {{ ads_maxCachedProjects }}

spring.activemq.broker-url= {{ ads_activemq_broker_url }}
spring.activemq.user= {{ ads_activemq_user }}
spring.activemq.password= {{ ads_activemq_password }}

orchestration.platform = {{ orchestration_platform }}
