---

- include: installDependencies.yml

- name: Assures {{release_stats_dir}} dir exists
  file: path={{release_stats_dir}} state=directory

#- name: Install latest release stats generation jar
#  maven_artifact: group_id=org.ihtsdo artifact_id=sct-stats-generator repository_url={{ maven_repo }} dest={{release_stats_dir}}/stats-gen.jar

- debug: msg=" {{  mvn_base }} {{release_stats_mvn_args}}"

- name: Install release stats generation jar
  shell: "{{  mvn_base }} {{release_stats_mvn_args}}"
#  register: stat_dl_results

- name: Install latest mrcm stats generation jar
  shell: "{{  mvn_base }} {{mrcm_mvn_args}}"
#  register: mrcm_dl_results


#- debug: var=stat_dl_results.stdout_lines
#- debug: var=mrcm_dl_results.stdout_lines

- name: Install latest mrcm stats generation jar
  maven_artifact: group_id=org.ihtsdo artifact_id=mrcm-validator repository_url={{ maven_repo }} dest={{release_stats_dir}}/stats-gen.jar


- name: Install zip
  apt: name=zip state=present update_cache=yes cache_valid_time=300
  when: ansible_os_family == "Debian"

- name: Install unzip
  apt: name=unzip state=present update_cache=yes cache_valid_time=300
  when: ansible_os_family == "Debian"

- include: downloadRelease.yml
  when: "get_release == True"

- include: rf2ReleaseStatsReport.yml
