[program:{{ sct_rest_app_name }}]
user = root
directory = {{ rest_dir }}
command = {{ node_dir }} {{ rest_app }}
autostart = true
autorestart = true
stdout_logfile_backups=5
stderr_logfile_backups=5
stdout_logfile_maxbytes=10485760
stderr_logfile_maxbytes=10485760