config setup
        charondebug="cfg 2"  # log proposals
        uniqueids=no  # allow multiple connections from a given user

conn ihtsdovpn
        keyexchange=ikev2
        auto=add
        left=%any
        leftid={{ vpn.hostname }}
        leftsubnet=0.0.0.0/0
        leftauth=pubkey
        leftcert=fullchain.pem
        leftsendcert=always
        right=%any
        rightsourceip={{ vpn.internal_subnet }}
        rightauth=eap-mschapv2
        rightsendcert=never
        rightdns=8.8.8.8,8.8.4.4
        eap_identity=%any
        dpdaction=clear
        dpddelay=2400s
        rekey=no
        reauth=no
        fragmentation=yes
    
