#properties for swagger
documentation.services.version=1.0
documentation.services.basePath=./refset
refset.pre.auth.token=X-REFSET-PRE-AUTH-TOKEN
refset.pre.auth.user=X-REFSET-PRE-AUTH-USERNAME
refset.auth.token=X-REFSET-AUTH-TOKEN
refset.otf.service.url={{refsetService_userman_url}}
refset.graph.config={{refsetService_folder}}/refset-graph-es.properties
snomed.graph.config={{refsetService_folder}}/snomed-graph-es.properties
time_profile=true
searchServerUrl=http://localhost:9200/
authenticationEnabled=true