[program:jira]
user = {{ jira_system_user }}
directory = {{ jira_install_location }}/{{ jira_system_name }}
command = {{ jira_install_location }}/{{ jira_system_name }}/bin/catalina.sh run
autostart = true
autorestart = true
stdout_logfile_backups=5
stderr_logfile_backups=5
stdout_logfile_maxbytes=10485760
stderr_logfile_maxbytes=10485760
