# {{ ansible_managed }}

rvf.snomed.jdbc.url = {{ rvf_snomed_jdbc_url }}
rvf.snomed.jdbc.username = {{ rvf_snomed_jdbc_username }}
rvf.snomed.jdbc.password = {{ rvf_snomed_jdbc_password }}
rvf.snomed.jdbc.driverClassName = {{ rvf_snomed_jdbc_driverClassName }}
rvf.snomed.schema.name = {{ rvf_snomed_schema_name }}

