# {{ ansible_managed }}

rvf.jdbc.url = {{ rvf_jdbc_url }}
rvf.jdbc.username = {{ rvf_jdbc_username }}
rvf.jdbc.password = {{ rvf_jdbc_password }}
rvf.jdbc.driverClassName = {{ rvf_jdbc_driverClassName }}
rvf.config.master.schema.name = {{ rvf_config_master_schema_name }}
rvf.hibernate.dialect = {{ rvf_hibernate_dialect }}


