# {{ ansible_managed }}

rvf.data.folder.location = {{ rvf_data_folder_location }}
rvf.hibernate.hbm2ddl.auto = {{ rvf_hibernate_hbm2ddl_auto }}
rvf.hibernate.jdbc.batch_size = {{ rvf_hibernate_jdbc_batch_size }}
rvf.hibernate.c3p0.min_size = {{ rvf_hibernate_c3p0_min_size }}
rvf.hibernate.c3p0.max_size = {{ rvf_hibernate_c3p0_max_size }}
rvf.hibernate.c3p0.timeout = {{ rvf_hibernate_c3p0_timeout }}
rvf.hibernate.c3p0.max_statements = {{ rvf_hibernate_c3p0_max_statements }}

rvf.jdbc.url = {{ rvf_jdbc_url }}
rvf.jdbc.username = {{ rvf_jdbc_username }}
rvf.jdbc.password = {{ rvf_jdbc_password }}
rvf.jdbc.driverClassName = {{ rvf_jdbc_driverClassName }}
rvf.master.schema.name = {{ rvf_master_schema_name }}
rvf.hibernate.dialect = {{ rvf_hibernate_dialect }}