# {{ ansible_managed }}

# -- settings file for access to SNOMED CT  QA data -- #
rvf.snomed.jdbc.url = {{ rvf_snomed_jdbc_url }}
rvf.snomed.jdbc.username = {{ rvf_snomed_jdbc_username }}
rvf.snomed.jdbc.password = {{ rvf_snomed_jdbc_password }}
rvf.snomed.jdbc.driverClassName = {{ rvf_snomed_jdbc_driverClassName }}
rvf.snomed.schema.name = {{ rvf_snomed_schema_name }}
# in hour
rvf.qa.data.maxKeepTime={{ rvf_qa_data_maxKeepTime }}

#rvf schema parameters
rvf.qa.result.table.name = {{ rvf_qa_result_table_name }}
rvf.assertion.id.column.name = {{ rvf_assertion_id_column_name }}
rvf.assertion.name.column.name = {{ rvf_assertion_name_column_name }}
rvf.assertion.details.column.name = {{ rvf_assertion_details_column_name }}
rvf.delta.table.suffix = {{ rvf_delta_table_suffix }}
rvf.snapshot.table.suffix = {{ rvf_snapshot_table_suffix }}
rvf.full.table.suffix = {{ rvf_full_table_suffix }}

# set to empty for tests to work - but need to be set to /opt/rvf-api/data in production
rvf.data.folder.location = {{ rvf_data_folder_location }}

# AWS Settings
offlineMode = {{ rvf_api_offlineMode }}
aws.key = {{ rvf_api_aws_key }}
aws.privateKey = {{ rvf_api_aws_privateKey }}
bucketName = {{ rvf_api_bucketName }}
s3.offline.directory = {{ rvf_api_s3_offline_directory }}

# JMS set to 1-3 for an example
rvf.validation.queue.concurrency = {{ rvf_validation_queue_concurrency }}
# batch size for running assertions concurrently 0 means running sequentially
rvf.assertion.execution.BatchSize = {{ rvf_assertion_execution_BatchSize }}
# Auto-scaling
rvf.execution.isWorker = {{ rvf_execution_isWorker }}
rvf.execution.isAutoScalingEnabled = {{ rvf_execution_isAutoScalingEnabled }}
