rvf.jira.endpoint={{ rvf_jira_endpoint }}
rvf.jira.basicAuth.username= {{ rvf_jira_basicAuth_username }}
rvf.jira.basicAuth.password= {{ rvf_jira_basicAuth_password }}

rvf.jira.field.productName= {{ rvf_jira_field_productName }}
rvf.jira.field.id.productName= {{ rvf_jira_field_id_productName }}

rvf.jira.field.releaseDate={{ rvf_jira_field_releaseDate }}
rvf.jira.field.id.releaseDate={{ rvf_jira_field_id_releaseDate }}
rvf.jira.field.reportingStage={{ rvf_jira_field_reportingStage }}
rvf.jira.field.id.reportingStage={{ rvf_jira_field_id_reportingStage }}

rvf.jira.value.projectKey= {{ rvf_jira_value_projectKey }}
rvf.jira.value.resolvedStatus= {{ rvf_jira_value_resolvedStatus }}

rvf.jira.defaultAssignee= {{ rvf_jira_defaultAssignee }}
