<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0; url={{zabbixserver_url}}" />
</head>
<body>

<h1>Zabbix Server {{zabbixserver_name}}</h1>

<p>You should be redirect to <a href="{{zabbixserver_name}}">{{zabbixserver_name}}</a></p>

</body>
</html>
