{
    "endpoints": {
        "collectorEndpoint": "{{ collectorEndpoint }}",
        "authoringEndpoint": "{{ authoringEndpoint }}",
        "snowOwlEndpoint": "{{ snowOwlEndpoint }}",
        "imsEndpoint": "{{ imsEndpoint }}"
    }
}
