{
    "endpoints": {
        "collectorEndpoint": "{{ authoringui_collectorEndpoint }}",
        "authoringEndpoint": "{{ authoringui_authoringEndpoint }}",
        "snowOwlEndpoint": "{{ authoringui_snowOwlEndpoint }}",
        "imsEndpoint": "{{ authoringui_imsEndpoint }}"
    }
}
