filter {
#  if [type] == "http" {
  if [type] == "nginx-access" {
    grok {
      patterns_dir => "{{logstash_patterns_dir}}"
      match => { "message" => "%{NGINXACCESS}" }
    }
    geoip {
        source => "clientip"
        target => "geoip"
        database => "/usr/local/share/GeoIP/GeoLite2-City.mmdb"
    }
  }
}


