output {
   if [type] == "nginx-access" {
        elasticsearch {  
           hosts => ["localhost:9200"]
           sniffing => false
           manage_template => false
           index => "%{[type][beat]}-%{+YYYY.MM.dd}"
           document_type => "%{[@metadata][type]}"    
        }
    } else {
       elasticsearch {
           hosts => ["localhost:9200"]
           sniffing => false
           manage_template => false
           index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
           document_type => "%{[@metadata][type]}"   
        }
    }    
}