server.port={{ traceability_port }}
platform.name={{ orchestration_name }}
spring.activemq.broker-url={{ orchestration_jms_url }}
spring.activemq.user={{ orchestration_jms_username }}
spring.activemq.password={{ orchestration_jms_password }}
spring.datasource.password={{ traceability_database_password }}
spring.datasource.testOnBorrow=true
spring.datasource.validationQuery=SELECT 1
