server.port={{ traceability_port }}
platform.name={{ traceability_orchestration_name }}
spring.activemq.broker-url={{ traceability_orchestration_jms_url }}
spring.activemq.user={{ traceability_orchestration_jms_username }}
spring.activemq.password={{ traceability_orchestration_jms_password }}
spring.datasource.url= jdbc:mysql://{{ traceability_database_host }}/{{ traceability_database }}
spring.datasource.username={{ traceability_database_username }}
spring.datasource.password={{ traceability_database_password }}
spring.datasource.testOnBorrow=true
spring.datasource.validationQuery=SELECT 1
