#!/bin/sh

printf "Bringing up tunnel to ZabbixServer"

#ssh -i /home/zabbixagent/.ssh/id_rsa zabbixagent@va.ihtsdotools.org
#ssh -i /home/{{zabbixserver_tunnel_user}}/.ssh/id_rsa {{zabbixserver_tunnel_user}}@va.ihtsdotools.org


sudo autossh -i /home/{{zabbixserver_tunnel_user}}/.ssh/id_rsa -Nfq -M 20550 -o "ServerAliveInterval 45" -o "ServerAliveCountMax 2" -R {{zabbix_client_port}}:localhost:10050 -L 10051:localhost:10051 {{zabbixserver_tunnel_user}}@{{zabbixserver1}}