# {{ ansible_managed }}
server.port = {{ orchestration_server_port }}

# Snow Owl Server
snowowl.url = {{ orchestration_snowowl_url }}
snowowl.username = {{ orchestration_snowowl_username }}
snowowl.password = {{ orchestration_snowowl_password }}
snowowl.reasonerId = {{ orchestration_snowowl_reasonerId }}
snowowl.log.path = {{ orchestration_snowowl_log_path }}
snowowl.rolloverLog.path = {{ orchestration_snowowl_rollover_log_path }}
snowowl.import.timeout = {{ orchestration_snowowl_import_timeout }}
snowowl.classification.timeout = {{ orchestration_snowowl_classification_timeout }}
snowowl.flatIndexExportStyle = {{ orchestration_snowowl_flatIndexExportStyle }}
ts.reportsBucket = {{ orchestration_ts_reportsBucket }}
ts.rvf.failureExportMax = {{ orchestration_rvf_failureExportMax }}

# AWS 'dev-ts-sync' user
aws.key = {{ orchestration_aws_key }}
aws.secretKey = {{ orchestration_aws_secretKey }}
aws.bucket.refsets = {{ orchestration_aws_bucket_refsets }}

#SNOMED Release Service settings
srs.root.url = {{ orchestration_srs_root_url }}
srs.username = {{ orchestration_srs_username }}
srs.password = {{ orchestration_srs_password }}

#Release Validation Framework settings
rvf.pollPeriod = {{ orchestration_rvf_pollPeriod }}
rvf.timeout = {{ orchestration_rvf_timeout }}
rvf.root.url = {{ orchestration_rvf_root_url }}

orchestration.jms.url = {{ orchestration_jms_url }}
orchestration.jms.username = {{ orchestration_jms_username }}
orchestration.jms.password = {{ orchestration_jms_password }}
#Time out on messages published to topics in seconds
orchestration.jms.timeToLive = {{ orchestration_jms_timeToLive }}
orchestration.name = {{ orchestration_name }}
orchestration.platform = {{ orchestration_platform }}
