#!/bin/bash
runScriptDir="{{ release_stats_root_dir }}"
echo "root dir $runScriptDir"
cd $runScriptDir

java -Xms1024m -Xmx7G -jar  {{mrcm_jar}} {{release_file_base_name}} {{mrcm_stats_useStatedViewOnly}} {{current_release_date}} {{mrcm_release_stats_dir}}