#!/bin/bash
set -e;

s3_bucket_name="{{ release_stats_json_s3_bucket_name }}"
fileNames="stats_output patterns_output"
archiveName={{ release_stats_archive_file_name }}
report_dir="{{ release_stats_dir }}"

echo "Uploading release stats json to AWS S3";
echo $report_dir
cd $report_dir
echo "start tar diff report json file"
tar -czf $archiveName $fileNames
echo "end of tar release stats directories"

echo "start s3 uploading"
aws s3 cp $archiveName $s3_bucket_name/ 
echo "s3 uploading process completed"
