#! /bin/bash -x

ssh -R{{ sonarqube_port }}:localhost:{{ sonarqube_port }} \
    -R{{ mysql_port }}:localhost:{{ mysql_port }} \
    -R{{ jenkins_listen_port }}:localhost:{{ jenkins_listen_port }} \
    -oStrictHostKeyChecking=no \
    jenkins@$1 \
    'curl http://localhost:{{ jenkins_listen_port }}/jnlpJars/slave.jar/ > slave.jar && java -jar slave.jar'
