#{{ ansible_managed }}
server {
  server_name {{ nginx_fqdn }};
  listen 80 {% if nginx_default_site == true %}default{% endif %};
  rewrite ^ https://$host$request_uri permanent;
  #endofhttpServer
}

server {
  server_name {{ nginx_fqdn }};
  listen 443 ssl {% if nginx_default_site == true %}default{% endif %};

  ssl_certificate     {{ nginx_ssl_cert_file_dest }};
  ssl_certificate_key {{ nginx_ssl_key_file_dest }};
  ssl_dhparam /etc/nginx/dhparam.pem;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers on;
  ssl_ciphers 'EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS';
  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;

  add_header Strict-Transport-Security max-age=15768000;
  
  set $secure off;
  if ($scheme = https) {
        set $secure on;
  }
  
   {% if nginx_root is defined %}root {{nginx_root}};{% endif %} 
   {% if nginx_root_files is defined %}{{nginx_root_files}}{% endif %} 
  
    location / {
     try_files $uri $uri/ =404;
     
        if ( -f {{MAINTDIR}}/{{MAINTFILE}}){
        return 503;
   }  
    
   }
  
  location /snowowl {
      proxy_pass {{ nginx_proxy_url }};
      proxy_http_version 1.1;
      proxy_set_header Connection "";
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_connect_timeout 150;
      proxy_send_timeout 100;
      proxy_read_timeout 100;
      proxy_buffers 4 32k;
      client_max_body_size 8m;
      client_body_buffer_size 128k;
      proxy_busy_buffers_size    64k;
      proxy_temp_file_write_size 64k;
      proxy_set_header X-Forwarded-Proto "https";
      proxy_set_header X-Url-Scheme $scheme;
      proxy_redirect http:// https://;
      proxy_set_header X-Forwarded-Ssl $secure;
      proxy_set_header X-Forwarded-Host $host;
       
   if ( -f {{MAINTDIR}}/{{MAINTFILE}}){
        return 503;
   }   
           
#endofLocation/
  }
  
error_page 503 @maintenance;

location @maintenance {
                root {{MAINTDIR}};
                rewrite ^(.*)$ /{{MAINTFILE}} break;
   } 
   
#endofhttpsServer  

}
