#properties for swagger
documentation.services.version=1.0
documentation.services.basePath=./refset
refset.pre.auth.token=X-REFSET-PRE-AUTH-TOKEN
refset.pre.auth.user=X-REFSET-PRE-AUTH-USERNAME
refset.auth.token=X-REFSET-AUTH-TOKEN
refset.otf.service.url=https://usermanagement3.ihtsdotools.org/query
refset.graph.config=./refset-graph-es.properties
snomed.graph.config=./snomed-graph-es.properties
time_profile=true